/* Fredericka the Great font for titles */
@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
}

/* Standard font */
* {
    font-family: Helvetica, Verdana, sans-serif;
}

/* Meeting information box */
.meeting-information {
    background-color: #BBBBBB;
    height: 200px;
    width: 400px;
}

/* Company title color */
h1 {
    color: rgb(0,0,0);
    font-family: 'Fredericka the Great', Helvetica, Verdana, sans-serif;
}

h1 + h2 {
    text-decoration: underline;
}

h2 ~ h3 {
    text-decoration: dotted;
}

/* Meeting title color */
.meeting-information h2 {
    color: blue;
}

/* Date color */
.meeting-information h3 {
    color: hsl(270,70%,40%);
}

/* Attendance */
.attendance ul {
    display: grid;
    grid-template-columns: [col1-start] 70% [col1-end] 10px [third-line] autp  [last-line];
    grid-row-gap: 5px;
    justify-items: center;
}

/* Agenda box */
.agenda details {
    background-color: #BBBBBB;

    position: static;
    top: ex;
    left: 1in;

    margin: vw vh vw vh;
    padding: 1pt 1pt 1pt 1pt;
    border: 2px;
}

/* Agenda box title */
.agenda summary {
    color: green;
}

/* Agenda box entries */
ul > li {
    color: rgb(20,100,150);
}

.unfinished-business,
.new-business {
    background-color: #ffaaaa;
}

/* Halloween form box */
.halloween-decorations-2023 {
    background-color: orange;

    position: relative;
    left: 1in;

    margin-top: vw;
    margin-right: vh;
    margin-bottom: vw;
    margin-left: vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Form Checkbox */
a[submit] {
    color: aquamarine;
    flex-shrink: 2;
    align-self: flex-end;
}

#pizza-types {
    color: blueviolet;
}

a[title] {
    text-transform: uppercase;
    text-decoration: dashed;
}

.random {
    background-color: #77ffff;
    color: black;
    min-width: 500px;
    max-width: 1000px;
}

@media (min-width: 600px) {
    footer {
        background-color: #777777;
    }
}

.author h2 {
    text-decoration: dotted;
    text-align: right;
}

.author p {
    text-decoration: underline;
    text-align: right;
}

.big-button:hover {
    height: 1in;
    width: 2in;
    text-decoration: underline;
    text-align: center;
}   

.big-button:active {
    text-decoration: wavy;
    text-align: right;   
}